@charset "UTF-8";
header {
  background-color: #333;
  height: 40px;
}

header .topBar .topBarL {
  float: left;
}

header .topBar .topBarL > ul > li {
  float: left;
  height: 40px;
  line-height: 40px;
}

header .topBar .topBarL > ul > li a {
  color: #ccc;
}

header .topBar .topBarL > ul > li a:hover {
  color: #fff;
}

header .topBar .topBarL > ul > li span {
  margin: 0 5px;
  color: #b0b0b0;
}

header .topBar .topBarL > ul > li span:hover {
  color: #fff;
}

header .topBar .topBarR {
  float: right;
}

header .topBar .topBarR .login {
  float: left;
  height: 40px;
  line-height: 40px;
}

header .topBar .topBarR .login a {
  color: #ccc;
}

header .topBar .topBarR .login a:hover {
  color: #fff;
}

header .topBar .topBarR .login span {
  margin: 0 5px;
  color: #b0b0b0;
}

header .topBar .topBarR .shopCar {
  position: relative;
  float: left;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 80px;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
}

header .topBar .topBarR .shopCar:hover {
  background-color: #fff;
}

header .topBar .topBarR .shopCar:hover .shopCarList {
  display: block;
}

header .topBar .topBarR .shopCar i {
  font-size: 18px;
}

header .topBar .topBarR .shopCar .shopCarList {
  position: absolute;
  width: 316px;
  display: none;
  line-height: 96px;
  top: 40px;
  right: 0;
  text-align: center;
  color: #ccc;
  box-shadow: 0 0px 8px #ccc;
  transition: all .3s;
}

.mainNav {
  padding: 20px;
}

.mainNav .logo a:first-child {
  float: left;
}

.mainNav .logo a:first-child h1 {
  background: url("../images/logo.png");
  width: 55px;
  height: 55px;
  font-size: 0;
  text-indent: -100000px;
}

.mainNav .logo a:last-child {
  float: left;
  margin-left: 10px;
  margin-top: -6px;
  width: 163px;
  height: 66px;
  background: url("../images/win.gif");
}

.mainNav .zhNav {
  float: left;
}

.mainNav .zhNav li {
  float: left;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.mainNav .zhNav li > a {
  font-size: 16px;
}

.mainNav .searchBox {
  float: right;
  position: relative;
  width: 295px;
  height: 50px;
  border: 1px solid #ccc;
}

.mainNav .searchBox.active {
  border: 1px solid #ff6700;
}

.mainNav .searchBox.active label {
  border-left: 1px solid #ff6700;
}

.mainNav .searchBox.active .hotGoods {
  display: none;
}

.mainNav .searchBox.active .searchList {
  display: block;
  z-index: 99;
  background-color: #fff;
}

.mainNav .searchBox input {
  float: left;
  width: 230px;
  height: 50px;
  padding-left: 10px;
  font-size: 14px;
  color: #333;
}

.mainNav .searchBox .hotGoods {
  position: absolute;
  width: 145px;
  height: 18px;
  line-height: 18px;
  top: 16px;
  right: 65px;
}

.mainNav .searchBox .hotGoods a {
  background-color: #ccc;
  margin-left: 5px;
}

.mainNav .searchBox .hotGoods a:hover {
  background-color: #ff6700;
  color: #fff;
}

.mainNav .searchBox label {
  float: left;
  width: 54px;
  height: 50px;
  line-height: 42px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  border-left: 1px solid #ccc;
}

.mainNav .searchBox label:hover {
  background-color: #ff6700;
  color: #fff;
}

.mainNav .searchBox .searchList {
  position: absolute;
  width: 240px;
  border: 1px solid #ff6700;
  margin-left: -1px;
  top: 50px;
  left: 0;
  display: none;
}

.mainNav .searchBox .searchList ul li {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}

.mainNav .searchBox .searchList ul li:hover {
  background-color: #f0f0f0;
}

.mainNav .searchBox .searchList ul li span {
  color: #333;
  float: left;
}

.mainNav .searchBox .searchList ul li span:last-child {
  color: #bbb;
  float: right;
}

.mainNavList {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 230px;
  overflow: hidden;
  border-top: 1px solid #ccc;
  box-shadow: 0 2px 6px #ccc;
  display: none;
  z-index: 999;
  background-color: #fff;
}

.mainNavList ul li {
  float: left;
  width: 180px;
  text-align: center;
}

.mainNavList ul li:last-child img {
  border-right: 0;
}

.mainNavList ul li img {
  width: 160px;
  height: 110px;
  margin: 35px 15px 0;
  border-right: 1px solid #ccc;
}

.mainNavList ul li h3, .mainNavList ul li p {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  margin-top: 10px;
}

.mainNavList ul li p {
  color: #ff6700;
}

.bannerWrap {
  position: relative;
  height: 460px;
}

.bannerWrap .banner li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 460px;
}

.bannerWrap .pre {
  left: 234px;
}

.bannerWrap .next, .bannerWrap .pre {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 70px;
  margin-top: -35px;
  text-align: center;
  color: #ccc;
  font: normal bold 30px/70px "consolas";
  right: 0;
  cursor: pointer;
}

.bannerWrap .next:hover, .bannerWrap .pre:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.bannerWrap .menu {
  padding: 20px 0;
  position: absolute;
  width: 234px;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.bannerWrap .menu .menuItems li {
  width: 184px;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  padding: 0 25px;
  color: #fff;
  cursor: pointer;
}

.bannerWrap .menu .menuItems li span {
  float: right;
  font: normal 600 18px/42px "consolas";
  color: #ccc;
}

.bannerWrap .menu .menuItems li:hover {
  background-color: #ff6700;
}

.bannerWrap .menuDetal {
  position: absolute;
  left: 234px;
  height: 460px;
  border-top: 1px solid #ccc;
  box-shadow: 0 5px 8px #ccc;
  z-index: 99;
  background-color: #fff;
}

.bannerWrap .menuDetal ul {
  float: left;
  height: 77px;
}

.bannerWrap .menuDetal ul li {
  position: relative;
  width: 235px;
  height: 34px;
  padding: 20px 0 20px 30px;
  line-height: 34px;
}

.bannerWrap .menuDetal ul li a:first-child img {
  float: left;
  margin-right: 10px;
}

.bannerWrap .menuDetal ul li a:first-child h4 {
  float: left;
  width: 120px;
  font-size: 14px;
}

.bannerWrap .menuDetal ul li a:last-child {
  position: absolute;
  width: 60px;
  height: 24px;
  line-height: 24px;
  top: 25px;
  right: 5px;
  border: 1px solid #ff6700;
  font-size: 14px;
  text-align: center;
  color: #ff6700;
}

.bannerWrap .menuDetal ul li a:last-child.buyStatus {
  display: none;
}

.bannerWrap .menuDetal ul li a:last-child:hover {
  background-color: #ff6700;
  color: #fff;
}

.footer {
  background-color: #fff;
}

.footer .footerService {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}

.footer .footerService ul li {
  float: left;
  width: 245px;
  height: 27px;
  line-height: 27px;
  font-size: 16px;
  color: #616161;
  padding: 0 40px;
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
  font-size: 17px;
}

.footer .footerService ul li:last-child {
  border: none;
}

.footer .footerService ul li a {
  color: #333;
}

.footer .footerService ul li a span {
  font-size: 22px;
  font-weight: 700;
}

.footer .footerInfo {
  padding: 40px 0;
}

.footer .footerInfo .infoLeft {
  float: left;
}

.footer .footerInfo .infoLeft dl {
  float: left;
  width: 160px;
}

.footer .footerInfo .infoLeft dl dt {
  height: 30px;
  font-size: 14px;
  line-height: 30px;
}

.footer .footerInfo .infoLeft dl dd {
  font-size: 12px;
  line-height: 26px;
}

.footer .footerInfo .infoLeft dl dd a {
  color: #333;
}

.footer .footerInfo .infoRight {
  float: right;
  width: 180px;
  padding: 0 30px;
  border-left: 1px solid #ccc;
  text-align: center;
}

.footer .footerInfo .infoRight h3 {
  color: #ff6700;
}

.footer .footerInfo .infoRight p {
  font-size: 12px;
  color: #ccc;
}

.footer .footerInfo .infoRight a {
  display: block;
  width: 120px;
  height: 30px;
  margin: 5px auto;
  border: 1px solid #ff6700;
  line-height: 30px;
  color: #ff6700;
  font-size: 12px;
  text-align: center;
}

.footer .friendLink {
  padding: 30px 0;
}

.footer .friendLink .friends .sublogo {
  float: left;
}

.footer .friendLink .friends .links {
  float: left;
}

.footer .friendLink .friends .links .linksTop {
  margin-left: 10px;
  height: 16px;
  line-height: 14px;
  padding-bottom: 8px;
  font-size: 12px;
}

.footer .friendLink .friends .links .linksTop ul li {
  float: left;
}

.footer .friendLink .friends .links .linksTop ul li span {
  margin: 0 4px;
}

.footer .friendLink .friends .links p {
  margin: 0 0 0 10px;
  font-size: 12px;
  color: #ccc;
}

.footer .friendLink .friends .links p a {
  color: #ccc;
}

.footer .friendLink .friends .links p a:hover {
  color: #ff6700;
}

.footer .friendLink .friends .imgR {
  float: right;
}

.footer .friendLink .friends .imgR img {
  float: left;
  margin-left: 10px;
}

.footer .friendLink .slogon {
  margin: 30px 0 40px;
  text-align: center;
  height: 28px;
  font: 18px/28px "宋体";
  color: #ddd;
}
